.header__nav{
background-color: var(--accent-color);
}

.header__nav__logo{
    color: var(--main-color);
    font-size: 3.5rem;
    text-align:center;
    text-transform: uppercase;
}

.header__nav{
    color: var(--main-color);
}
.header__nav-menu{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.header__nav-menu-item{
    color: var(--main-color);
    text-transform:uppercase;
    text-decoration: none;
}
.header__nav-menu-item:hover{
    font-weight:bold;
}
@media(min-width:600px){
    .header__nav{
        display: flex;
    }
}

.header__nav-menu{
    align-items: center;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
}

